* {
    box-sizing: border-box;
}

@import url('fonts.googleapis.com');

body {
    margin: 0;
    font-family: "Cause", cursive;
    min-height: 100vh;
    background: linear-gradient(#0f2027,
            #210635,
            #420d4b,
            #7B337E);
}


#container {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10%;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.cause {
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

.bbh-hegarty-regular {
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#logo-nati {
    padding: 20px;
    border-radius: 50%;
    width: 10vw;
    height: 20vh;
}

#navegacao-nati {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 1000;
}

#navegacao-nati.stickyNav{
    position: fixed;
    background-color: #6667AB;
    color: #fff;
    z-index: 2000;
    transition: 0.4s;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #F5D5E0;
    font-weight: 500;
}

.navbar-links li:hover {
    background-color: #6667AB;
    font-size: 18px;
    border-radius: 1.8em;
}


#toogle-nati {
    display: none;
    background: none;
    font-size: 1.8rem;
    cursor: pointer;
}



.rosa-nati {
    color: #F5D5E0;
    padding: 10px;
    flex: 1;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.rosa-nati h1 {
    color: #F5D5E0;
    font-family: 'BBH Hegarty', sans-serif;
    font-size: 4.8rem;
    font-weight: bolder;
}

.email-nati {
    color: #6667AB;
}

.rosa-nati img {
    padding: 10px;
    transition: transform 0.3s ease;
}

.rosa-nati img:hover {
    background-color: #0f2027;
    border-radius: 10%;
}

.perfil-nati {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 350px;
    height: 350px;
}

.perfil-nati img {
    overflow: hidden;
    width: 400px;
}

.bg-nati {
    position: absolute;
    right: 0;
    top: 20%;
    transform: translateY((-50%));
    width: 1000px;
    height: auto;
    z-index: 1;
    opacity: 0.9;
}

.perfil-nati .natali-perfil {
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-40%);
    width: 200px;
    z-index: 2;
    border-radius: 20%;
}

.n-letra {
    position: absolute;
    left: -260px;
    transform: translateY(-30%);
    width: 400px;
    z-index: 3;
    opacity: 0.4;
    filter: blur(0.3px);
}

.wave {
    margin-bottom: -5px;
}

#container-dois {
    background-color: #210635;
    color: rgba(182, 170, 170, 0.565);
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    scroll-margin-top: 100px;

}

#container-dois section {
    position: relative;
    padding: 12px 20px;
}

#container-dois section::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    width: 1px;
    height: 80%;
    background-color: #F5D5E0;
}

#container-dois section:nth-child(3)::after,
#container-dois section:nth-child(6)::after {
    display: none;
}

#container-dois .btn {
    margin-top: 12px;
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
    color: #F5D5E0;
}

.card-um .btn {
    background: #c76a89;/
}

.card-dois .btn {
    background: linear-gradient(135deg, #49a1a0, #936ac6);
}

.card-tres .btn {
    background: #222a86;
}

.card-quatro .btn {
    background: linear-gradient(135deg, #703a3a, #74533e);
}

.card-cinco .btn {
    background: #ebf765;
}

.card-seis .btn {
    background: linear-gradient(135deg, #c2a8e3, #2c27b9);
}

#container-tres {
    background: linear-gradient(180deg,
            #210635 0%,
            #420d4b 40%,
            #7B337E 70%,
            #F5D5E0 100%);
    display: grid;
    grid-template-columns: repeat(4, 90px);
    gap: 28px;
    justify-content: center;
    padding: 100px 0;
    margin-bottom: -20px;
    scroll-margin-top: 100px;
}

#container-tres .card img {
    width: 44px;
    height: 44px;
    opacity: 0.60;
    object-fit: contain;
}

#container-tres .card {
    width: 96px;
    height: 96px;
    border-radius: 22px;
    background: rgba(245, 213, 224, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item span {
    margin-top: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    opacity: 0.8;
}


#container-quatro {
    background: linear-gradient(180deg,
            #F5D5E0 0%,
            #7B337E 40%,
            #420d4b 70%,
            #210635 100%);
    min-height: 100vh;
    text-align: center;
    scroll-margin-top: 100px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
    justify-content: center;
}

.card-projeto {
    position: relative;
    width: 250px;
    height: 300px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 20px;
}

.got-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
    transition: opacity 0.3s ease;
}

.card-projeto:hover {
    transform: scale(1.05);
    width: max-content ;
    box-shadow: 0 10px 20px rgba(11, 10, 10, 0.794);
    z-index: 10;
    visibility: visible;
}

 .info-hover{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    padding: 20px;
    color: #F5D5E0;
    font-weight: 600;

}

.card-projeto:hover .info-hover {
    opacity: 1;
}

.card-projeto:hover .card-img {
    opacity: 0.4;
}


#cv-nati {
    width: 100%;
    max-width: 800px;
    height: 60vh;
    margin: 40px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

#cv-nati object {
    width: 100%;
    height: 100%;
    border: none;
}

#footer-nati{
    background-color: #210635;
    color: #F5D5E0;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bolder;
}

